.card{
    width: 200px;
    height: 250px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    text-align: center;
    border-radius: 6px;
    margin: auto;
    background-color: rgb(233, 143, 143);
}
.card-dark{
    color: black;
}

.card-dark:hover {
    /* box-shadow: 5px 10px 18px 5px rgba(2, 48, 252, 0.2); */
    box-shadow: 0px 10px 12px 0px white;
  }
  .card-light:hover {
    /* box-shadow: 5px 10px 18px 5px rgba(2, 48, 252, 0.2); */
    box-shadow: 0px 10px 12px 0px black;
  }

 
.card-vegan {
    background-color: rgb(57, 136, 57);
}

.card-vegetarian {
    background-color: rgb(152, 243, 152);
}

.card-meat {
    background-color: rgb(255, 64, 64);
}

.card-pesc{
    background-color: hotpink;
}

