.card{
    width: 200px;
    height: 250px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    text-align: center;
    border-radius: 6px;
    margin: auto;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(245, 137, 35, 0.2);
  }