@import url('https://fonts.googleapis.com/css2?family=Asap&family=Bebas+Neue&display=swap');


.FormPageNavBar {
    font-family: 'Asap', sans-serif;
    color: white;
    text-transform: uppercase;
    position: absolute;
    width: 100%;
    height: 10%;
    top: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    background-color: #0D0D0D;
    padding-bottom: 20px;
    margin-bottom: 2em
}

.form-nav-dark{
    background-color: #0D0D0D;
    color: white;
}

.form-nav-light{
    background-color: white;
    color: black;
}
    
.FormPageNavBar h1 {
    font-family: 'Bebas Neue', cursive;
    font-size: 48px;
    position: relative; 
    margin: 1%;
}
    
.FormPageNavBar h1:hover{
    color: #a7cedd;
    transform: scale(1.1);
    cursor: grab
}

@media only screen and (max-width: 600px) {
    
    .FormPageNavBar h1 {
        font-size: 36px;
        margin-top: 3%;
    }
    
}